.wrapper .cartOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .wrapper .cartOverlay .cart {
    position: fixed;
    width: 385px;
    height: 100%;
    background: #ffffff;
    right: 0;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .wrapper .cartOverlay .cart .cartTitleWrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .wrapper .cartOverlay .cart .cartSubtitle {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  
  .wrapper .cartOverlay .cart .cartItemsWrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    overflow: auto;
  }
  
  .wrapper .cartOverlay .cart .cartItemsWrapper .cartItem {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 325px;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    background: #ffffff;
    /* overflow: hidden; */
  }
  
  .wrapper .cartOverlay .cart .cartItemsWrapper .cartItem .cartItemImg {
    width: 70px;
    height: 70px;
    background:  0 5px / contain no-repeat;
    margin-right: 20px;
  }
  
  .wrapper .cartOverlay .cart .cartItemsWrapper .cartItem .cartItemDescr {
    margin-right: 20px;
  }
  
  .wrapper .cartOverlay .cart .cartItemsWrapper .cartItem .cartItemDescr .cartItemName {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
  
  .wrapper .cartOverlay .cart .cartItemsWrapper .cartItem .cartItemDescr .cartItemPrice {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
  }
  
  .wrapper .cartOverlay .cart .cartRemoveImg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
  }
  
  .wrapper .cartOverlay .cart .cartRemoveImg:hover {
    opacity: 1;
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper .cartFinalPrice {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* align-items: end; */
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper .dashLine {
    position: relative;
    top: -4px;
    width: 167px;
    border-bottom: 1px dashed #DFDFDF;
    flex: 1
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper  .total, .cartTaxTitle {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper .totalPrice, .cartTaxAmount
   {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper .cartTax {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper .greenBtn {
    position: relative;
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper .greenBtn:hover .cartBtnImg {
    transform: translateX(5px);
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper .greenBtn .cartBtnImg {
    position: absolute;
    right: 40px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
  }
  
  .wrapper .cartOverlay .cart .cartBottomContentWrapper .greenBtn img:hover {
    transform: translateX(5px);
  }