body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  max-width: 1080px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 85px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

.wrapper .header {
  display: flex;
  justify-content: space-between;
  height: 128px;
  border-bottom: 1px solid #eaeaea;
}

.wrapper .header .headerLeft {
  display: flex;
  gap: 16px;
  margin-top: 43px;
  margin-left: 45px;
}

.wrapper .header .headerLeft .logo {
  width: 40px;
  height: 40px;
}

.wrapper .header .headerLeft .headerInfo h1 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper .header .headerLeft .headerInfo p {
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}

.wrapper .header .headerLeft .headerInfo h1,
p {
  margin: 0;
}

.wrapper .header .headerRight {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  margin-right: 63px;
}

.wrapper .header .headerRight .cart-wrapper {
  display: flex;
  gap: 10px;
}

.wrapper .header .headerRight .cart-wrapper p {
  font-size: 14px;
  font-weight: 600;
  color: #5c5c5c;
}

.wrapper .header .headerRight img {
  width: 20px;
  height: 20px;
}

.wrapper .header .headerLine {

  border: 1px solid #eaeaea;
}

.mainContent {
  padding: 40px 60px 10px 60px;
}

.mainContent .mainContentTitleWrapper {
  display: flex;
  justify-content: space-between;
}

.mainContent .mainContentTitleWrapper .allSneakersSubtitle {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.mainContent .mainContentTitleWrapper .searchWrapper {
  border-radius: 10px;
  border: 1px solid #F3F3F3;
  display: flex;
  align-items: center;
}

.mainContent .mainContentTitleWrapper .searchWrapper .searchImg {
  padding-left: 18px;
  width: 14px;
  height: 14px;
}

.mainContent .mainContentTitleWrapper .searchSneakers {
  width: 250px;
  height: 45px;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  padding-left: 14px;
}

.mainContent .mainContentTitleWrapper input:focus {
  outline: none;
  color: #000000;
}

.mainContent .contentWrapper {
  display: flex;
  gap: 40px;
}

.mainContent .contentWrapper .contentItem {
  width: 210px;
  /* height: 260px; */
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  background: #ffffff;
  padding: 20px 30px 34px 30px;
  margin-top: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.mainContent .contentWrapper .contentItem:hover {
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.mainContent .contentWrapper .contentItem .notFavouriteImg {
  position: absolute;
  cursor: pointer;
}

.mainContent .contentItem .sneakersImg {
  width: 133px;
  height: 112px;
  display: block;
  margin: 0 auto;
}

.mainContent .contentItem .contentItemDescr {
  margin-top: 14px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.mainContent .contentItem .contentItemBottom {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContent .contentItem .contentItemBottom .price .priceTitle {
  color: #bdbdbd;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.mainContent .contentItem .contentItemBottom .price .priceValue {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.mainContent .contentItem .contentItemBottom img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}