body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  max-width: 1080px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 85px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

.wrapper .header {
  display: flex;
  justify-content: space-between;
  height: 128px;
  border-bottom: 1px solid #eaeaea;
}

.wrapper .header .headerLeft {
  display: flex;
  gap: 16px;
  margin-top: 43px;
  margin-left: 45px;
}

.wrapper .header .headerLeft .logo {
  width: 40px;
  height: 40px;
}

.wrapper .header .headerLeft .headerInfo h1 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper .header .headerLeft .headerInfo p {
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}

.wrapper .header .headerLeft .headerInfo h1,
p {
  margin: 0;
}

.wrapper .header .headerRight {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  margin-right: 63px;
}

.wrapper .header .headerRight .cart-wrapper {
  display: flex;
  gap: 10px;
}

.wrapper .header .headerRight .cart-wrapper p {
  font-size: 14px;
  font-weight: 600;
  color: #5c5c5c;
}

.wrapper .header .headerRight img {
  width: 20px;
  height: 20px;
}

.wrapper .header .headerLine {

  border: 1px solid #eaeaea;
}

.mainContent {
  padding: 40px 60px 10px 60px;
}

.mainContent .mainContentTitleWrapper {
  display: flex;
  justify-content: space-between;
}

.mainContent .mainContentTitleWrapper .allSneakersSubtitle {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.mainContent .mainContentTitleWrapper .searchWrapper {
  border-radius: 10px;
  border: 1px solid #F3F3F3;
  display: flex;
  align-items: center;
}

.mainContent .mainContentTitleWrapper .searchWrapper .searchImg {
  padding-left: 18px;
  width: 14px;
  height: 14px;
}

.mainContent .mainContentTitleWrapper .searchSneakers {
  width: 250px;
  height: 45px;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  padding-left: 14px;
}

.mainContent .mainContentTitleWrapper input:focus {
  outline: none;
  color: #000000;
}

.mainContent .contentWrapper {
  display: flex;
  gap: 40px;
}

.mainContent .contentWrapper .contentItem {
  width: 210px;
  /* height: 260px; */
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  background: #ffffff;
  padding: 20px 30px 34px 30px;
  margin-top: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.mainContent .contentWrapper .contentItem:hover {
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.mainContent .contentWrapper .contentItem .notFavouriteImg {
  position: absolute;
  cursor: pointer;
}

.mainContent .contentItem .sneakersImg {
  width: 133px;
  height: 112px;
  display: block;
  margin: 0 auto;
}

.mainContent .contentItem .contentItemDescr {
  margin-top: 14px;
  height: 55px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.mainContent .contentItem .contentItemBottom {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContent .contentItem .contentItemBottom .price .priceTitle {
  color: #bdbdbd;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.mainContent .contentItem .contentItemBottom .price .priceValue {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.mainContent .contentItem .contentItemBottom img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.wrapper .cartOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.wrapper .cartOverlay .cart {
  position: absolute;
  width: 385px;
  height: 100%;
  background: #ffffff;
  right: 0;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.wrapper .cartOverlay .cart .cartTitleWrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper .cartOverlay .cart .cartSubtitle {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

/* .wrapper .cartOverlay .cart {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.wrapper .cartOverlay .cart .cartItemsWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.wrapper .cartOverlay .cart .cartItemsWrapper .cartItem {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 325px;
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  background: #ffffff;
  overflow: hidden;
}

.wrapper .cartOverlay .cart .cartItemsWrapper .cartItem .cartItemImg {
  width: 70px;
  height: 70px;
  background:  0 5px / contain no-repeat;
  margin-right: 20px;
}

.wrapper .cartOverlay .cart .cartItemsWrapper .cartItem .cartItemDescr {
  margin-right: 20px;
}

.wrapper .cartOverlay .cart .cartItemsWrapper .cartItem .cartItemDescr .cartItemName {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.wrapper .cartOverlay .cart .cartItemsWrapper .cartItem .cartItemDescr .cartItemPrice {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
}

.wrapper .cartOverlay .cart .cartRemoveImg {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.wrapper .cartOverlay .cart .cartRemoveImg:hover {
  opacity: 1;
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper .cartFinalPrice {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: end;
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper .dashLine {
  position: relative;
  top: -4px;
  width: 167px;
  border-bottom: 1px dashed #DFDFDF;
  flex: 1
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper  .total, .cartTaxTitle {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper .totalPrice, .cartTaxAmount
 {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper .cartTax {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper .greenBtn {
  position: relative;
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper .greenBtn:hover .cartBtnImg {
  transform: translateX(5px);
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper .greenBtn .cartBtnImg {
  position: absolute;
  right: 40px;
  top: 20px;
  transition: transform 0.15s ease-in-out;
}

.wrapper .cartOverlay .cart .cartBottomContentWrapper .greenBtn img:hover {
  transform: translateX(5px);
}

.greenBtn {
  width: 100%;
  height: 55px;
  border-radius: 18px;
  background: #9DD458;
  border: 0;
  cursor: pointer;
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  transition: filter 0.15s ease-in-out;
}

.greenBtn:hover {
  filter: brightness(110%);
}

.greenBtn:active {
  filter: brightness(90%);
}